@import "../tools/tools";

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"),
    url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}


/*=================================
========= SANOMA COLORS ===========
===================================*/

.primary {
  background-color: var(--md-sys-color-primary);
}
.primary-text {
  color: var(--md-sys-color-primary);
}
.primary-container {
  background-color: var(--md-sys-color-primary-container);
}
.primary-container-text {
  color: var(--md-sys-color-primary-container);
}
.on-primary {
  background-color: var(--md-sys-color-on-primary);
}
.on-primary-text {
  color: var(--md-sys-color-on-primary);
}
.on-primary-container {
  background-color: var(--md-sys-color-on-primary-container);
}
.on-primary-container-text {
  color: var(--md-sys-color-on-primary-container);
}
.secondary {
  background-color: var(--md-sys-color-secondary);
}
.secondary-text {
  color: var(--md-sys-color-secondary);
}
.secondary-container {
  background-color: var(--md-sys-color-secondary-container);
}
.secondary-container-text {
  color: var(--md-sys-color-secondary-container);
}
.on-secondary {
  background-color: var(--md-sys-color-on-secondary);
}
.on-secondary-text {
  color: var(--md-sys-color-on-secondary);
}
.on-secondary-container {
  background-color: var(--md-sys-color-on-secondary-container);
}
.on-secondary-container-text {
  color: var(--md-sys-color-on-secondary-container);
}
.tertiary {
  background-color: var(--md-sys-color-tertiary);
}
.tertiary-text {
  color: var(--md-sys-color-tertiary);
}
.tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
}
.tertiary-container-text {
  color: var(--md-sys-color-tertiary-container);
}
.on-tertiary {
  background-color: var(--md-sys-color-on-tertiary);
}
.on-tertiary-text {
  color: var(--md-sys-color-on-tertiary);
}
.on-tertiary-container {
  background-color: var(--md-sys-color-on-tertiary-container);
}
.on-tertiary-container-text {
  color: var(--md-sys-color-on-tertiary-container);
}
.error {
  background-color: var(--md-sys-color-error);
}
.error-text {
  color: var(--md-sys-color-error);
}
.error-container {
  background-color: var(--md-sys-color-error-container);
}
.error-container-text {
  color: var(--md-sys-color-error-container);
}
.on-error {
  background-color: var(--md-sys-color-on-error);
}
.on-error-text {
  color: var(--md-sys-color-on-error);
}
.on-error-container {
  background-color: var(--md-sys-color-on-error-container);
}
.on-error-container-text {
  color: var(--md-sys-color-on-error-container);
}
.outline {
  background-color: var(--md-sys-color-outline);
}
.outline-text {
  color: var(--md-sys-color-outline);
}
.background {
  background-color: var(--md-sys-color-background);
}
.background-text {
  color: var(--md-sys-color-background);
}
.on-background {
  background-color: var(--md-sys-color-on-background);
}
.on-background-text {
  color: var(--md-sys-color-on-background);
}
.surface {
  background-color: var(--md-sys-color-surface);
}
.surface-text {
  color: var(--md-sys-color-surface);
}
.on-surface {
  background-color: var(--md-sys-color-on-surface);
}
.on-surface-text {
  color: var(--md-sys-color-on-surface);
}
.surface-variant {
  background-color: var(--md-sys-color-surface-variant);
}
.surface-variant-text {
  color: var(--md-sys-color-surface-variant);
}
.on-surface-variant {
  background-color: var(--md-sys-color-on-surface-variant);
}
.on-surface-variant-text {
  color: var(--md-sys-color-on-surface-variant);
}
.inverse-surface {
  background-color: var(--md-sys-color-inverse-surface);
}
.inverse-surface-text {
  color: var(--md-sys-color-inverse-surface);
}
.inverse-on-surface {
  background-color: var(--md-sys-color-inverse-on-surface);
}
.inverse-on-surface-text {
  color: var(--md-sys-color-inverse-on-surface);
}
.inverse-primary {
  background-color: var(--md-sys-color-inverse-primary);
}
.inverse-primary-text {
  color: var(--md-sys-color-inverse-primary);
}
.shadow {
  background-color: var(--md-sys-color-shadow);
}
.shadow-text {
  color: var(--md-sys-color-shadow);
}
.surface-tint {
  background-color: var(--md-sys-color-surface-tint);
}
.surface-tint-text {
  color: var(--md-sys-color-surface-tint);
}
.outline-variant {
  background-color: var(--md-sys-color-outline-variant);
}
.outline-variant-text {
  color: var(--md-sys-color-outline-variant);
}
.scrim {
  background-color: var(--md-sys-color-scrim);
}
.scrim-text {
  color: var(--md-sys-color-scrim);
}


// /*========================
// =========COLORS===========
// ==========================*/


// /*background colors*/
// // $headers-background: #0D3C61;
// $headers-background-gradient: linear-gradient(to right, #223d86, #4561af);

// //nav
// $nav-background: #0066a0;
// $nav-background-hover: #0080c9;
// $nav-background-dark: #015b8f;
// $nav-background-light: #99c1d9;
// $nav-background-lighter: #EBF0FC;
// $nav-background-gradient:linear-gradient(to right, #345dcf, #4286f4);
// $nav-background-gradient-lvl-2:linear-gradient(to right, #0376b9, #0097ed);
// $nav-background-gradient-lvl-3:linear-gradient(to right, #62b1df, #6dcaff);
// /* fallback for old browsers */
// $nav-background-gradient-fallback:linear-gradient(to right, #345dcf, #4286f4);

// /*fonts*/
// $c-white:#FFF;
// $c-black:#000;
// $c-red:#F00;
// $c-error:#dc3545;
// $c-primary:$nav-background;
// $c-primary-dark:$nav-background-dark;
// $c-panel-header: #8f0f2a;
// /*background colors*/


// //sidemenu
// $sidemenu-background: #f7f7f2;
// $sidememu-item: #e9e8e3;
// $sidememu-item-active: #0066a0;
// $sidemenu-left-border-one:#0066a0;


// //backgrounds
// $background-white:#FFF;
// $background-black:#000;
// $background-aside:#efefef;
// $background-soft-grey:#f8f8f8;
// $background-grey:#eee;
// $background-dark-grey:#222;
// $background-dark-grey-soft:#999;

// $background-blue-light: linear-gradient(0deg, rgba(52, 93, 207, .1) 0%, rgba(66, 134, 244, 0.1) 100%);
// $background-blue-lighter: linear-gradient(0deg, rgb(52 93 207 / 0%) 0%, rgb(66 134 244 / 5%) 100%);


// //BOX_SHADOW
// $box-shadow: rem-calc(0 2 3 0) rgba(0, 0, 0, 0.1),
// rem-calc(0 6 7 0) rgba(0, 0, 0, 0.09);

// //FOCUS
// $focus: #7fb7ff dotted rem-calc(3);
// $f-style: rem-calc(-3);

// //topmenu
// $primary-background-color: #31312b;
// $secondary-background-color: #FFCE00;

// //Footer
// $color-footer: #767676;

// //scrollbar
// $webkit-scrollbar-track: #f1f1f1;
// $webkit-scrollbar-thumb:#aaa;
// $webkit-scrollbar-thumb-hover:#555;

// //PANEL
// $panel-title-background:#f7f7f2;

// //Borders
// $border-top-grey: #dee2e6;

// //BOTONES

// //secondary buttons

// $btn-background-secondary: #cccccc;
