:root {
  --md-source: #26A5FF;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001223;
  --md-ref-palette-primary10: #001D34;
  --md-ref-palette-primary20: #003355;
  --md-ref-palette-primary25: #003E66;
  --md-ref-palette-primary30: #004A78;
  --md-ref-palette-primary35: #00568B;
  --md-ref-palette-primary40: #00629E;
  --md-ref-palette-primary50: #007CC5;
  --md-ref-palette-primary60: #0096EE;
  --md-ref-palette-primary70: #58B1FF;
  --md-ref-palette-primary80: #99CBFF;
  --md-ref-palette-primary90: #CFE5FF;
  --md-ref-palette-primary95: #E9F1FF;
  --md-ref-palette-primary98: #F7F9FF;
  --md-ref-palette-primary99: #FCFCFF;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001417;
  --md-ref-palette-secondary10: #001F24;
  --md-ref-palette-secondary20: #00363D;
  --md-ref-palette-secondary25: #00424A;
  --md-ref-palette-secondary30: #004F58;
  --md-ref-palette-secondary35: #005B66;
  --md-ref-palette-secondary40: #006874;
  --md-ref-palette-secondary50: #008392;
  --md-ref-palette-secondary60: #009FB1;
  --md-ref-palette-secondary70: #00BCD0;
  --md-ref-palette-secondary80: #36D9EE;
  --md-ref-palette-secondary90: #98F0FF;
  --md-ref-palette-secondary95: #D0F8FF;
  --md-ref-palette-secondary98: #EDFCFF;
  --md-ref-palette-secondary99: #F6FEFF;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #19003E;
  --md-ref-palette-tertiary10: #260058;
  --md-ref-palette-tertiary20: #41008B;
  --md-ref-palette-tertiary25: #4F00A6;
  --md-ref-palette-tertiary30: #5D00C2;
  --md-ref-palette-tertiary35: #6C00DF;
  --md-ref-palette-tertiary40: #791EF0;
  --md-ref-palette-tertiary50: #914CFF;
  --md-ref-palette-tertiary60: #A775FF;
  --md-ref-palette-tertiary70: #BE99FF;
  --md-ref-palette-tertiary80: #D4BBFF;
  --md-ref-palette-tertiary90: #EBDCFF;
  --md-ref-palette-tertiary95: #F7EDFF;
  --md-ref-palette-tertiary98: #FEF7FF;
  --md-ref-palette-tertiary99: #FFFBFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2C0004;
  --md-ref-palette-error10: #410008;
  --md-ref-palette-error20: #680013;
  --md-ref-palette-error25: #7D0019;
  --md-ref-palette-error30: #92001F;
  --md-ref-palette-error35: #A31429;
  --md-ref-palette-error40: #B52334;
  --md-ref-palette-error50: #D73E4A;
  --md-ref-palette-error60: #FA5861;
  --md-ref-palette-error70: #FF888A;
  --md-ref-palette-error80: #FFB3B2;
  --md-ref-palette-error90: #FFDAD9;
  --md-ref-palette-error95: #FFEDEC;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0E1212;
  --md-ref-palette-neutral10: #191C1D;
  --md-ref-palette-neutral20: #2E3132;
  --md-ref-palette-neutral25: #393C3D;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral35: #505354;
  --md-ref-palette-neutral40: #5C5F5F;
  --md-ref-palette-neutral50: #747878;
  --md-ref-palette-neutral60: #8E9192;
  --md-ref-palette-neutral70: #A9ACAC;
  --md-ref-palette-neutral80: #C4C7C7;
  --md-ref-palette-neutral90: #E1E3E3;
  --md-ref-palette-neutral95: #EFF1F1;
  --md-ref-palette-neutral98: #F8FAFA;
  --md-ref-palette-neutral99: #FAFDFD;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0C1117;
  --md-ref-palette-neutral-variant10: #171C22;
  --md-ref-palette-neutral-variant20: #2C3137;
  --md-ref-palette-neutral-variant25: #373C42;
  --md-ref-palette-neutral-variant30: #42474E;
  --md-ref-palette-neutral-variant35: #4E535A;
  --md-ref-palette-neutral-variant40: #5A5F66;
  --md-ref-palette-neutral-variant50: #72777F;
  --md-ref-palette-neutral-variant60: #8C9199;
  --md-ref-palette-neutral-variant70: #A7ABB3;
  --md-ref-palette-neutral-variant80: #C2C7CF;
  --md-ref-palette-neutral-variant90: #DEE3EB;
  --md-ref-palette-neutral-variant95: #EDF1F9;
  --md-ref-palette-neutral-variant98: #F7F9FF;
  --md-ref-palette-neutral-variant99: #FCFCFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #00629E;
  --md-sys-color-primary-container-light: #CFE5FF;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-on-primary-container-light: #001D34;
  --md-sys-color-secondary-light: #006874;
  --md-sys-color-secondary-container-light: #98F0FF;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-on-secondary-container-light: #001F24;
  --md-sys-color-tertiary-light: #791EF0;
  --md-sys-color-tertiary-container-light: #EBDCFF;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-on-tertiary-container-light: #260058;
  --md-sys-color-error-light: #B52334;
  --md-sys-color-error-container-light: #FFDAD9;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-on-error-container-light: #410008;
  --md-sys-color-outline-light: #72777F;
  --md-sys-color-background-light: #FAFDFD;
  --md-sys-color-on-background-light: #191C1D;
  --md-sys-color-surface-light: #FAFDFD;
  --md-sys-color-on-surface-light: #191C1D;
  --md-sys-color-surface-variant-light: #DEE3EB;
  --md-sys-color-on-surface-variant-light: #42474E;
  --md-sys-color-inverse-surface-light: #2E3132;
  --md-sys-color-inverse-on-surface-light: #EFF1F1;
  --md-sys-color-inverse-primary-light: #99CBFF;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #00629E;
  --md-sys-color-outline-variant-light: #C2C7CF;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #99CBFF;
  --md-sys-color-primary-container-dark: #004A78;
  --md-sys-color-on-primary-dark: #003355;
  --md-sys-color-on-primary-container-dark: #CFE5FF;
  --md-sys-color-secondary-dark: #36D9EE;
  --md-sys-color-secondary-container-dark: #004F58;
  --md-sys-color-on-secondary-dark: #00363D;
  --md-sys-color-on-secondary-container-dark: #98F0FF;
  --md-sys-color-tertiary-dark: #D4BBFF;
  --md-sys-color-tertiary-container-dark: #5D00C2;
  --md-sys-color-on-tertiary-dark: #41008B;
  --md-sys-color-on-tertiary-container-dark: #EBDCFF;
  --md-sys-color-error-dark: #FFB3B2;
  --md-sys-color-error-container-dark: #92001F;
  --md-sys-color-on-error-dark: #680013;
  --md-sys-color-on-error-container-dark: #FFDAD9;
  --md-sys-color-outline-dark: #8C9199;
  --md-sys-color-background-dark: #191C1D;
  --md-sys-color-on-background-dark: #E1E3E3;
  --md-sys-color-surface-dark: #191C1D;
  --md-sys-color-on-surface-dark: #C4C7C7;
  --md-sys-color-surface-variant-dark: #42474E;
  --md-sys-color-on-surface-variant-dark: #C2C7CF;
  --md-sys-color-inverse-surface-dark: #E1E3E3;
  --md-sys-color-inverse-on-surface-dark: #191C1D;
  --md-sys-color-inverse-primary-dark: #00629E;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #99CBFF;
  --md-sys-color-outline-variant-dark: #42474E;
  --md-sys-color-scrim-dark: #000000;
  /* Custom Colors */
  --md-custom-color-Danger: #FF5B64;
  --md-custom-color-Warning: #FFCC16;
  --md-custom-color-Ok: #00D876;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
